<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-organize-sentence-heading" jhiTranslate="gatewayApp.gamesOrganizeSentence.home.createOrEditLabel">Create or edit a Organize Sentence</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!organizeSentence.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="organizeSentence.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.gamesOrganizeSentence.solution" for="field_solution">Solution</label>
                    <input type="text" class="form-control" name="solution" id="field_solution"
                        [(ngModel)]="organizeSentence.solution" required/>
                    <div [hidden]="!(editForm.controls.solution?.dirty && editForm.controls.solution?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.solution?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.gamesOrganizeSentence.definition" for="field_definition">Definition</label>
                    <input type="text" class="form-control" name="definition" id="field_definition"
                        [(ngModel)]="organizeSentence.definition" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.gamesOrganizeSentence.sentence" for="field_sentence">Sentence</label>
                    <input type="text" class="form-control" name="sentence" id="field_sentence"
                        [(ngModel)]="organizeSentence.sentence" required/>
                    <div [hidden]="!(editForm.controls.sentence?.dirty && editForm.controls.sentence?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sentence?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.gamesOrganizeSentence.level" for="field_level">Level</label>
                    <select class="form-control" id="field_level" name="level" [(ngModel)]="organizeSentence.levelId"  required>
                        <option *ngIf="!editForm.value.level" [ngValue]="null" selected></option>
                        <option [ngValue]="levelOption.id" *ngFor="let levelOption of levels; trackBy: trackLevelById">{{levelOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.level?.dirty && editForm.controls.level?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.level?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.gamesOrganizeSentence.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="organizeSentence.categoryId"  required>
                        <option *ngIf="!editForm.value.category" [ngValue]="null" selected></option>
                        <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.title}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
