
#header{
    background-color:  #126b97;
}
.searchContainer {
    margin-top: 10px;
    display: inline-block;
    width:100%;
    height: auto;
    padding: auto;
    margin-left:10px;
    border: 0;
    border-radius: 21px;
    overflow: hidden;
  background-color: rgb(236, 245, 248)e;
  }
  
  
  .searchIcon {
    padding: 0.5rem;
    z-index:2;
    background-color: rgb(172, 221, 240)e;
  }
  
  .searchBox {
    border: 0;
    padding: 0.5rem;
    background-color: rgb(172, 221, 240);
    font-size: 10px;
  }
  
  .searchButton {
      height: 70%;
      margin-top:7px;
    background: rgb(127, 215, 226);
    border: 2px solid rgb(20, 163, 220);
    color: rgb(20, 163, 220);
    border-radius: 15px;
  
  }
  
  p{
    /*pezzetto di navbar su menù sx*/
      color: rgb(121, 210, 245);
      font-weight: bold;
      margin-left: 0px;
      padding-left: 7px;
      padding-top: 14px;
      height: inherit;
      width: 100%;
      background-color:  #126b97 !important;
  }
  
  i:hover{
    background-color: rgb(20, 163, 220);

  }