<div class="container">

  <br>
  <h1 class="text-center mt-5"> User </h1>
  <br>
  <br>
    
     <div class="col-12 table responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="text-center">
              
            <th>Username</th>
            <th>Password</th>
            <th>Usertype</th>

            <th colspan="2"> Action </th>

          </tr>
       </thead> 
          <tr>
           <td>
             <input class="form-control" style="width: 100%" placeholder="username" [(ngModel)]="usertoinsert.username">
          </td>
          <td>
            <input class="form-control" style="width: 100%" placeholder="password" [(ngModel)]="usertoinsert.password">
          </td>
          <td>
            <select class="form-control" style="width: 100%" placeholder="usertype" [(ngModel)]="usertoinsert.usertype">
              <option value="ADMIN">ADMIN</option>
              <option value="USER">USER</option>
            </select>
          </td>
          <td>
            <button (click)=insert(usertoinsert) type="button" class="btn btn-primary btn-block mr-3 ">Insert</button>
          </td>
          <td>
            <button (click)="clear()" type="button" class="btn btn-secondary btn-block mr-3">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <input class="form-control" style="width: 100%;" [(ngModel)]="user.username">
          </td>
          <td>
            <input class="form-control" style="width: 100%;" [(ngModel)]="user.password">
          </td>
          <td>
            <select class="form-control" style="width: 100%;" [(ngModel)]="user.usertype">
              <option [selected]="user.usertype===ADMIN" value="ADMIN">ADMIN</option>
              <option [selected]="user.usertype===USER" value="USER">USER</option>
            </select>
          </td>
          <td>
            <button (click)=update(user) type="button" class="btn btn-success btn-block mr-3">Save</button>
          </td>
          <td>
            <button (click)="delete(user)" type="button" class="btn btn-danger btn-block mr-3"style="background-color: #c52121 !important;">Delete</button>
          </td>
        </tr>
      </table>
    