<div class="row">
  
  <div class="col-md-8 offset-md-2 mt-5">
    <div class="row">
      <div class="col-sm-9 text-left"><h1 class="text-left "> User </h1></div>
      <div class="col-sm-3 text-right align-self-center">
        <button (click)="editUser(); newUserForm.reset()" class="btn btn-primary mr-3" data-toggle="modal" data-target="#newUser"><i class="fas fa-plus"></i> Insert</button>
      </div>
    </div>
  </div>
    
  <div class="col-12"> <hr> </div>

  <div class="col-8 offset-2 table-responsive">
    <br>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr class="text-center">
          <th>Username</th> <!-- login in DTO -->
          <th>Email</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Type User</th>
          <th> Action </th>
        </tr>
      </thead>
      <tr *ngFor="let u of usersDTO">
        <td>{{u.login}}</td>
        <td>{{u.email}}</td>
        <td>{{u.firstName}}</td>
        <td>{{u.lastName}}</td>
        <td>{{u.authorities}}</td>
        <td class="td-compact">
          <button class="btn btn-info btn-sm mr-3" (click)="editUser(u)" data-toggle="modal" data-target="#newUser"><i class="fas fa-edit"></i> Edit</button>
          <button class="btn btn-info btn-sm mr-3" (click)="activation(u)" data-toggle="modal" data-target="#activationUser"><i class="fas fa-edit"></i> Activation</button>
          <button class="btn btn-info btn-sm mr-3" (click)="view(u)" data-toggle="modal" data-target="#viewUser"><i class="fas fa-edit"></i> View </button>
          <button class="btn btn-danger btn-sm" (click)="delete(u)"
            style="background-color: #c52121 !important;"><i class="fas fa-trash"></i> Delete</button>  
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" #modalTitle></div>
        <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #newUserForm="ngForm" (ngSubmit)="onSubmit(usertoinsert)">
        <input type="hidden" id="id" name="id" [(ngModel)]="usertoinsert.id">
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" type="text" id="username" name="username" required placeholder="Username" [(ngModel)]="usertoinsert.login">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" id="name" name="name" required placeholder="Name" [(ngModel)]="usertoinsert.firstName">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" id="surname" name="surname" required placeholder="Surname" [(ngModel)]="usertoinsert.lastName">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" id="email" name="email" required placeholder="Email" [(ngModel)]="usertoinsert.email">
          </div>
          <div class="form-group">
            <select class="form-control" placeholder="Type User" required id="typeUser" name="typeUser" [(ngModel)]="usertoinsert.admin">
              <option [value]="usertoinsert.admin">ROLE_USER</option>
              <option [value]="usertoinsert.admin">ROLE_ADMIN</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!newUserForm.form.valid" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>