<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="level">
            <h2><span jhiTranslate="gatewayApp.gamesLevel.detail.title">Level</span> {{level.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.gamesLevel.name">Name</span></dt>
                <dd>
                    <span>{{level.name}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.gamesLevel.description">Description</span></dt>
                <dd>
                    <span>{{level.description}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.gamesLevel.score">Score</span></dt>
                <dd>
                    <span>{{level.score}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/level', level.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
