<div class="row">
  <div class="col-12 text-center">
    <img src="../../assets/italianlearning.png" class="img-fluid" alt="logo">
  </div>
  <div class="offset-4 col-4">
    <form #f="ngForm">

      <div class="form-group">
        <input class="form-control" type="text" id="user" name="username" placeholder="Username" ngModel>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" id="pass" name="password" placeholder="Password" ngModel>
      </div>        
      
      <div class="text-center">
        <button style="background-color: #073569fa !important;" type="submit" (click)="login(f)"class="btn m-1 text-light">Login</button>
        <button style="background-color: #073569fa !important;" type="submit"class="btn btn-primary m-1 text-light">Sign Up</button>
      </div>
 
    </form>
  </div>
</div>

<!--div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <img src="../../assets/italianlearning.png" alt="logo">
    </div>
    <div class="col-md-5">
      <form #f="ngForm">
        <p>Please insert username and password to Login or Sign Up</p>
        <div class="form-group">
          <input class="form-control" type="text" id="user" name="username" placeholder="Username" ngModel>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="pass" name="password" placeholder="Password" ngModel>
        </div>
        
        
        <button type="submit" (click)="login(f)"class="btn btn-info">Login</button> 
        <button type="submit"class="btn btn-info">Sign Up</button>
       
      </form>
    </div>
  </div>
</div -->