<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.gamesFindMistake.home.title">Find Mistakes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-find-mistake" [routerLink]="['/find-mistake/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.gamesFindMistake.home.createLabel">
            Create new Find Mistake
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="findMistakes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="solution"><span jhiTranslate="gatewayApp.gamesFindMistake.solution">Solution</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="definition"><span jhiTranslate="gatewayApp.gamesFindMistake.definition">Definition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sentence"><span jhiTranslate="gatewayApp.gamesFindMistake.sentence">Sentence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="optionA"><span jhiTranslate="gatewayApp.gamesFindMistake.optionA">Option A</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="optionB"><span jhiTranslate="gatewayApp.gamesFindMistake.optionB">Option B</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="optionC"><span jhiTranslate="gatewayApp.gamesFindMistake.optionC">Option C</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoryTitle"><span jhiTranslate="gatewayApp.gamesFindMistake.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="levelName"><span jhiTranslate="gatewayApp.gamesFindMistake.level">Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let findMistake of findMistakes ;trackBy: trackId">
                <td><a [routerLink]="['/find-mistake', findMistake.id, 'view' ]">{{findMistake.id}}</a></td>
                <td>{{findMistake.solution}}</td>
                <td>{{findMistake.definition}}</td>
                <td>{{findMistake.sentence}}</td>
                <td>{{findMistake.optionA}}</td>
                <td>{{findMistake.optionB}}</td>
                <td>{{findMistake.optionC}}</td>
                <td>
                    <div *ngIf="findMistake.categoryId">
                        <a [routerLink]="['../category', findMistake.categoryId , 'view' ]" >{{findMistake.categoryTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="findMistake.levelId">
                        <a [routerLink]="['../level', findMistake.levelId , 'view' ]" >{{findMistake.levelName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/find-mistake', findMistake.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/find-mistake', findMistake.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'find-mistake/'+ findMistake.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="findMistakes && findMistakes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
