<br>
<h1 class="text-center mt-5"> Find Mistake </h1>
<br>
<br>

<div class="col-12 table responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="text-center">
        <th>
          <abbr title="required">*</abbr>
          Solution
        </th>
        <th>
          Definition
        </th>
        <th>
          <abbr title="required">*</abbr>
          Sentence
        </th>
        <th>
          <abbr title="required">*</abbr>
          Option A
        </th>
        <th>
          <abbr title="required">*</abbr>
          Option B
        </th>
        <th>
          <abbr title="required">*</abbr>
          Option C
        </th>
        <th>
          <abbr title="required">*</abbr>
          Level
        </th>
        <th>
          <abbr title="required">*</abbr>
          Category
        </th>

        <th colspan="2"> Action </th>

      </tr>
    </thead>
    <tr>
      <td>
        <input class="form-control has-danger has error" [required]="true" style="width: 100%;" placeholder="Solution"
          [(ngModel)]="findmistaketoinsert.solution">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" placeholder="Definition"
          [(ngModel)]="findmistaketoinsert.definition">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [required]="true" placeholder="Sentence"
          [(ngModel)]="findmistaketoinsert.sentence">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [required]="true" placeholder="Option A"
          [(ngModel)]="findmistaketoinsert.optionA">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [required]="true" placeholder="Option B"
          [(ngModel)]="findmistaketoinsert.optionB">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [required]="true" placeholder="Option C"
          [(ngModel)]="findmistaketoinsert.optionC">
      </td>
      <td>
        <select class="form-control" style="width: 100%;" [required]="true" placeholder="level" [(ngModel)]="findmistaketoinsert.level">
          <option [value]="">Choose one...</option>
          <option *ngFor="let level of levelsDTO" [ngValue]="level">{{level.name}}</option>
        </select>
      </td>
      <td>
        <select class="form-control" style="width: 100%;" [required]="true" [(ngModel)]="findmistaketoinsert.category">
          <option [value]="0">Choose one...</option>
          <option *ngFor="let category of categoriesDTO" [ngValue]="category">{{category.title}}</option>
        </select>
      </td>
      <td>
        <button (click)=insert(findmistaketoinsert) type="button"
          class="btn btn-primary btn-block mr-3 ">Insert</button>
      </td>
      <td>
        <button (click)="clear()" type="button" class="btn btn-secondary btn-block mr-3">Clear</button>
      </td>
    </tr>
    <tr *ngFor="let findmistake of findmistakesDTO">
      <td>
        <input class="form-control"  style="width: 100%;" [(ngModel)]="findmistake.solution">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.definition">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.sentence">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.optionA">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.optionB">
      </td>
      <td>
        <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.optionC">
      </td>
      <td>
        <select class="form-control" style="width: 100%;" [(ngModel)]="findmistake.level.id">
          <option [ngValue]="level.id" *ngFor="let level of levelsDTO">{{level.name}}</option>
        </select>
      </td>
      <td>
        <select class="form-control" style="width: 100%;" [(ngModel)]="findmistake.category.id">
          <option class="form-control" style="width: 100%;" [ngValue]="category.id"
            *ngFor="let category of categoriesDTO">{{category.title}}</option>
        </select>
      </td>
      <td>
        <button class="btn btn-success btn-block mr-3" (click)="update(findmistake)">Save</button>
      </td>
      <td>
        <button class="btn btn-danger btn-block mr-3" (click)="delete(findmistake)"
          style="background-color: #c52121 !important;">Delete</button>
      </td>
    </tr>
  </table>
</div>