<div class="row">
  <div class="offset-md-2 col-md-8 mt-5">
    <div class="row">
      <div class="col-sm-9">
        <h1>Find Mistake</h1>
      </div>
      <div class="col-sm-3 text-right align-self-center">
        <button type="button" class="btn btn-primary btn-md mr-3"
          (click)="editFindMistake(); newFindMistakeForm.reset()" data-toggle="modal" data-target="#newFindMistake">
          <i class="fas fa-plus"></i> Insert</button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <hr>
  </div>
  <div class="offset-md-2 col-md-8 table-responsive">
    <br>
    <table class="table table-striped table-bordered" data-pagination=true>
      <thead class="thead-dark">
        <tr class="text-center">
          <th>Solution</th>
          <th>Definition/th>
          <th>Sentence </th>
          <th>OptionA</th>
          <th>OptionB</th>
          <th>OptionC</th>
          <th>Level</th>
          <th>Category</th>
          <th>Action </th>

        </tr>
      </thead>

      <tr *ngFor="let findmistake of findmistakesDTO">

        <td>{{findmistake.solution}}</td>
        <td>{{findmistake.definition}}</td>
        <td>{{findmistake.sentence}}</td>
        <td>{{findmistake.OptionA}}</td>
        <td>{{findmistake.OptionB}}</td>
        <td>{{findmistake.OptionC}}</td>
        <td>{{findmistake.categoryTitle}}</td>
        <td>{{findmistake.levelName}}</td>

        <td class="td-compact">
          <button class="btn btn-info btn-sm mr-3" (click)="editFindMistake(findmistake)" data-toggle="modal"
            data-target="#newFindMistake"><i class="fas fa-edit"></i> Edit</button>
          <button class="btn btn-danger btn-sm" (click)="delete(findmistake)" style="background-color: #c52121 !important;"><i
              class="fas fa-trash"></i> Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="newFindMistake" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" #modalTitle></div>
        <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #newFindMistakeForm="ngForm" (ngSubmit)="onSubmit(findmistaketoinsert)">
        <input type="hidden" id="id" name="id" [(ngModel)]="findmistaketoinsert.id">
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" type="text" id="solution" name="solution" required placeholder="Solution"
              [(ngModel)]="findmistaketoinsert.solution">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" id="definition" name="definition" placeholder="Definition"
              [(ngModel)]="findmistaketoinsert.definition">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" id="sentence" name="sentence" required placeholder="Sentence"
              [(ngModel)]="findmistaketoinsert.sentence">
          </div>
          <div class="form-group"></div>
          <input class="form-control" type="text" id="option A" name="option A" required placeholder="option A"
            [(ngModel)]="findmistaketoinsert.optionA">

          <div class="form-group"></div>
          <input class="form-control" type="text" id="option B" name="option B" required placeholder="option B"
            [(ngModel)]="findmistaketoinsert.optionB">

          <div class="form-group"></div>
          <input class="form-control" type="text" id="option C" name="option C" required placeholder="option C"
            [(ngModel)]="findmistaketoinsert.optionC">

          <div class="form-group">
            <select class="form-control" placeholder="Category" required id="categoryId" name="categoryId"
              [(ngModel)]="findmistaketoinsert.categoryId">
              <option *ngFor="let category of categoriesDTO" [value]="category.id">{{category.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" prompt="Level" required id="levelId" name="levelId"
              [(ngModel)]="findmistaketoinsert.levelId">
              <option *ngFor="let level of levelsDTO" [value]="level.id">{{level.name}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!newFindMistakeForm.form.valid"
            type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--
<tr *ngFor="let findmistake of findmistakesDTO">
  <td>
    <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.solution">
  </td>
  <td>
    <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.definition">
  </td>
  <td>
    <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.sentence">
  </td>
  <td>
    <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.optionA">
  </td>
  <td>
    <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.optionB">
  </td>
  <td>
    <input class="form-control" style="width: 100%;" [(ngModel)]="findmistake.optionC">
  </td>
  <td>
    <select class="form-control" style="width: 100%;" [(ngModel)]="findmistake.level.id">
      <option [ngValue]="level.id" *ngFor="let level of levelsDTO">{{level.name}}</option>
    </select>
  </td>
  <td>
    <select class="form-control" style="width: 100%;" [(ngModel)]="findmistake.category.id">
      <option class="form-control" style="width: 100%;" [ngValue]="category.id" *ngFor="let category of categoriesDTO">
        {{category.title}}</option>
    </select>
  </td>
  <td>
    <button class="btn btn-success btn-block mr-3" (click)="update(findmistake)">Save</button>
  </td>
  <td>
    <button class="btn btn-danger btn-block mr-3" (click)="delete(findmistake)"
      style="background-color: #c52121 !important;">Delete</button>
  </td>
</tr>
</table>
</div>
-->