.sidenav {
    /*sfondo del resto del menù*/
    height:93.5vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1e282d;
    overflow-x: visible;
    transition: 0.5s;
    padding-top: 0;
  }
  
  
  .menubtn{
      /*elementi del menù*/
      width: 100%;
      text-align: left;
      background-color: #1e282d;
      color: rgb(143, 205, 226);
      border: none;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  
  a{
      text-decoration: none;
      /*dashbard*/
      color: rgb(143, 205, 226);
      ;
  }
  
  button:focus {
      /*elemento del menu selezionato*/
      background-color: #4197e7;
  }
  
  button:hover, a:hover {
      /*elementi evidenziati dal mouse*/
  background-color: rgb(3, 3, 3);
  color: rgb(10, 71, 184);
  }

  *{
      font-size: 16px;
  }