<div class="container">

<br>
<h1 class="text-center mt-5"> Quiz </h1>
<br>
<br>
    
      <div class="col-12 table responsive">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr class="text-center">

            <th>
              Name
            </th>
            <th>
              Description
            </th>
            <th>
              Score
            </th>
            <th colspan="2"> Action </th>

          </tr>
        </thead>  
          <tr>
           <td>
            <input class="form-control" style="width: 100%;" placeholder="Name" [(ngModel)]="leveltoinsert.name">
          </td>
          <td>
            <input class="form-control" style="width: 100%;" placeholder="Definition" [(ngModel)]="leveltoinsert.description">
          </td>
          <td>
            <input class="form-control" style="width: 100%;" type="number" placeholder="Score" [(ngModel)]="leveltoinsert.score">
          </td>
          <td >
            <button (click)=insert(leveltoinsert) type="button" class="btn btn-primary btn-block mr-3 ">Insert</button>
          </td>
          <td>
            <button (click)="clear()" type="button" class="btn btn-secondary btn-block mr-3">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let level of levelsDTO">
          <td>
            <input class="form-control" style="width: 100%;" type="text" [(ngModel)]="level.name">
          </td>
          <td>
            <input class="form-control" style="width: 100%;" [(ngModel)]="level.description">
          </td>
          <td>
            <input style="width: 100%;" type="number" [(ngModel)]="level.score">
          </td>
          <td>
            <button (click)=update(level) type="button" class="btn btn-success btn-block mr-3">Save</button>
          </td>
          <td>
              <button (click)="delete(quiz)" type="button" class="btn btn-danger btn-block mr-3"style="background-color: #c52121 !important;">Delete</button>
            </td>
          </tr>
        </table> 