<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table class="table table-striped">
        <tr>
          <th>
            Solution
          </th>
          <th>
            Image
          </th>
          <th>
            Category
          </th>
          <th>
            Level
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="solution" [(ngModel)]="guesspicturetoinsert.solution">
          </td>

          <td>
            <input placeholder="image" [(ngModel)]="guesspicturetoinsert.image">
          </td>

          <td>
            <select placeholder="category" [(ngModel)]="guesspicturetoinsert.category">
              <option *ngFor="let c of categoriesDTO" [ngValue]="c"> {{c.title}} </option>
            </select>
          </td>
          <td>
            <select placeholder="level" [(ngModel)]="guesspicturetoinsert.level">
              <option *ngFor="let l of levelsDTO" [ngValue]="l"> {{l.name}} </option>
            </select>
          </td>
          <td>
            <button class="btn btn-primary btn" (click)="insert(guesspicturetoinsert)">Insert</button>
          </td>
          <td>
            <button class="btn btn-primary btn" (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let g of guesspicturesDTO">
          <td>
            <input [(ngModel)]="g.solution">
          </td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Open Image</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img style="max-width: 100%;" src="data:image/png;base64,{{g.image}}">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <select [(ngModel)]="g.category">
              <option *ngFor="let c of categoriesDTO" [selected]="g.category===c" [value]="c.id"> {{c.title}} </option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="g.level">
              <option *ngFor="let l of levelsDTO" [selected]="g.level===l" [value]="l.id"> {{l.name}} </option>
            </select>
          </td>
          <td>
            <button (click)=update(g)>Save</button>
          </td>
          <td>
            <button (click)="delete(g)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>

<!--script>
	var input = document.getElementById("imageFile");
	
	input.onchange = function () {
		var file = input.files[0],
	 	reader = new FileReader();
	
		reader.onloadend = function () {
	 		var b64 = reader.result.replace(/^data:.+;base64,/, '');
	 		document.getElementById("image").value = b64;
      alert(b64);
		};
		reader.readAsDataURL(file);
	};
</script -->