<!-- @author Enzo Tasca -->
<div class="row">
  
  <div class="col-md-8 offset-md-2 mt-5">
    <div class="row">
      <div class="col-sm-9 text-left"><h1 class="text-left "> Category </h1></div>
      <div class="col-sm-3 text-right align-self-center">
        <button (click)="editCategory(); newCategoryForm.reset()" class="btn btn-primary mr-3" data-toggle="modal" data-target="#newCategory"><i class="fas fa-plus"></i> Insert</button>
      </div>
    </div>
  </div>
    
  <div class="col-12"> <hr> </div>

  <div class="col-8 offset-2 table-responsive">
    <br>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr class="text-center">
          <th>Title</th>
          <th>Description</th>
          <th colspan="2"> Action </th>
        </tr>
      </thead>

      <tr *ngFor="let c of categoriesDTO">
        <td>{{c.title}}</td>
        <td>{{c.description}}</td>
        <td class="td-compact">
          <button class="btn btn-info btn-sm mr-3" (click)="editCategory(c)" data-toggle="modal" data-target="#newCategory"><i class="fas fa-edit"></i> Edit</button>
          <button class="btn btn-danger btn-sm" (click)="delete(c)"
            style="background-color: #c52121 !important;"><i class="fas fa-trash"></i> Delete</button>  
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newCategory" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" #modalTitle></div>
        <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #newCategoryForm="ngForm" (ngSubmit)="onSubmit(categorytoinsert)">
        <input type="hidden" id="id" name="id" [(ngModel)]="categorytoinsert.id">
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" type="text" id="title" name="title" required placeholder="Title" [(ngModel)]="categorytoinsert.title">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="description" name="description" placeholder="Description" [(ngModel)]="categorytoinsert.description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!newCategoryForm.form.valid" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>



