<div class="container">

<br>
<h1 class="text-center"> Categories </h1>
<br>
<br>
<br>

    <div class="col-12">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>
              Title
            </th>
            <th>
              Description
            </th>
            <th>
              Edit
            </th>
            <th>
              Delete
            </th>
          </tr>
        </thead>

        <tr>
          <td>
            <input placeholder="Title" [(ngModel)]="categorytoinsert.title">
          </td>
          <td>
            <input placeholder="Description" [(ngModel)]="categorytoinsert.description">
          </td>
          <td>
            <button (click)="insert(categorytoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let c of categories">
          <td>
            <input [(ngModel)]="c.title">
          </td>
          <td>
            <input [(ngModel)]="c.description">
          </td>
          <td>
            <button (click)="update(c)">Save</button>
          </td>
          <td>
            <button (click)="delete(c)">Delete</button>
          </td>
        </tr>
      </table>
    </div>

</div>
