<!--created by Anna Cecere-->


<div class="container">
  <div class="row mt-12">
    <div class="col-md-1">
         </div>
     
    <div class="col-md-10 table-responsive">
      <table class="'table table-striped table-bordered">
        <thead class="text-center">
        <tr>
          <th> Solution </th>
          <th> Definition </th>
          <th> Sentence </th>
          <th> Category </th>
          <th> Level </th>
          <th>
          <th> Action </th>
          <th>
         
        </tr>
      </thead>
        <tr>
          <td>
            <input class="form-control" style="width: 100%;" placeholder="solution" [(ngModel)]="quiztoinsert.solution">
          </td>
          <td>
            <input class="form-control" style="width: 100%;" placeholder="definition" [(ngModel)]="quiztoinsert.definition">
          </td>
          <td>
            <input class="form-control" style="width: 100%;" placeholder="sentence" [(ngModel)]="quiztoinsert.sentence">
          </td>
          <td>
            <select class="form-control" style="width: 100%;" placeholder="category" [(ngModel)]="quiztoinsert.category">
              <option [value]="0">Choose one...</option>
              <option *ngFor="let category of categoriesDTO" [ngValue]="category">{{category.title}}</option>
            </select> 
          </td>
          <td>
              <select class="form-control" style="width: 100%;" placeholder="level" [(ngModel)]="quiztoinsert.level">
                <option [value]="0">Choose one...</option>
              <option *ngFor="let level of levelsDTO" [ngValue]="level">{{level.name}}</option>
            </select>
          </td>
          <td>
            <button (click)=insert(quiztoinsert) type="button" class="btn btn-info">Insert</button>
          </td>
          <td>
            <button (click)="clear()" type="button" class="btn btn-secondary">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let quiz of quizDTO">
          <td>
            <input class="form-control" style="width: 100%;" [(ngModel)]="quiz.solution">
          </td>
          <td>
            <input class="form-control" style="width: 100%;" [(ngModel)]="quiz.definition">
          </td>
          <td>
            <input class="form-control" style="width: 100%;" [(ngModel)]="quiz.sentence">
          </td>
          <td>
            <select class="form-control" style="width: 100%;" [(ngModel)]="quiz.category.id">
              <option class="form-control" style="width: 100%;" [ngValue]="category.id" *ngFor="let category of categoriesDTO">{{category.title}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" style="width: 100%;" [(ngModel)]="quiz.level.id">
              <option [ngValue]="level.id" *ngFor="let level of levelsDTO">{{level.name}}</option>
            </select>
          </td>
          <td>
            <button (click)=update(quiz) type="button" class="btn btn-success">Save</button>
          </td>
          <td>
            <button (click)="delete(quiz)" type="button" class="btn btn-primary">Delete</button>
          </td>
                   
        </tr>
      </table>
    </div>
  <div class="col-md-1"> 

  

    </div>
  </div>
</div>