button{
    background-color: rgb(26, 204, 248);
}/* You can add global styles to this file, and also import other style files */

.td-compact{
    width: 1px;
    white-space: nowrap;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}