<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Solution
          </th>
          <th>
            Sentence
          </th>
          <th>
            Definition
          </th>
          <th>
            Category
          </th>
          <th>
            <th>
            Level
            </th>
            <th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="Solution" [(ngModel)]="organizesentencetoinsert.solution">
          </td>
          <td>
            <input placeholder="Sentence" [(ngModel)]="organizesentencetoinsert.sentence">
          </td>
          <td>
            <input placeholder="Definition" [(ngModel)]="organizesentencetoinsert.definition">
          </td>
          <!--category-->
          <td>
            <select placeholder="category" [(ngModel)]="organizesentencetoinsert.category">
              <option *ngFor="let c of categoriesDTO" [ngValue]="c"> {{c.title}} </option>
            </select>
          </td>
          <!--level-->
          <td>
            <select placeholder="level" [(ngModel)]="organizesentencetoinsert.level">
              <option *ngFor="let l of levelsDTO" [ngValue]="l"> {{l.name}} </option>
            </select>
          </td>
          <!-- button di inserimento-->
          <td>
            <button (click)="insert(organizesentencetoinsert)">Insert</button>
          </td>
          <!--button clear-->
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <!-- ciclo for each per vedere tutti i giochi di organizesentence-->
        <tr *ngFor="let organizesentence of organizesentencesDTO">
          <td>
            <input [(ngModel)]="organizesentence.solution">
          </td>
          <td>
            <input [(ngModel)]="organizesentence.sentence">
          </td>
          <td>
            <input [(ngModel)]="organizesentence.definition">
          </td>
        <td>
          <select [(ngModel)]="organizesentence.category.id">
            <option *ngFor="let c of categoriesDTO" [selected]="organizesentence.category===c" [ngValue]="c.id"> {{c.title}} </option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="organizesentence.level.id">
            <option *ngFor="let l of levelsDTO" [selected]="organizesentence.level===l" [ngValue]="l.id"> {{l.name}} </option>
          </select>
        </td>
          
          <td>
            <button (click)=update(organizesentence)>Save</button>
          </td>
          <td>
            <button (click)="delete(organizesentence)">Delete</button>
          </td>
        </tr> <!--fine ciclo for each-->
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
